@import '../Variables'

.field {
  &__frame {
    margin-bottom: 1rem
  }

  &__header {
    background: colors.dark_grey
    color: colors.white
    padding: 0.3rem 0.5rem
    cursor: pointer
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

    &--name {
      display: inline-block
      margin-left: auto
      margin-right: auto
    }

    &--tools {

    }
  }

  &__wrapper {
    padding: 0.5rem 1rem
    border: 0.0625rem solid #e5e5e5
    background: #fff
    border-top: 0

    .wplfb-child-container {
      background: #ccc
    }
  }
}
